<ng-container *ngIf="(responseState | async) as state" [ngSwitch]="state.appState">
  <nav class="navbar bg-dark">
    <!-- <div class="container"> -->
    <div class="container-fluid">
      <a class="navbar-brand navbar-header">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-address-book" width="24" height="24"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"></path>
          <path d="M10 16h6"></path>
          <circle cx="13" cy="11" r="2"></circle>
          <path d="M4 8h3"></path>
          <path d="M4 12h3"></path>
          <path d="M4 16h3"></path>
        </svg> Kuehne-Nagel | Contact List</a>
      <form #searchForm="ngForm" (ngSubmit)="loadSelectedPage(searchForm.value.name)" class="d-flex" role="search">
        <i class="fa-thin fa-magnifying-glass"></i>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name" ngModel>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <!-- </div> -->
  </nav>

  <div class="container mt-3">
    <ng-container *ngSwitchCase="'APPLICATION_ERROR'">{{ state.error | json }}</ng-container>
    <ng-container *ngSwitchCase="'APPLICATION_LOADING'">
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'APPLICATION_LOADED'">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Avatar</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of state.appData.data.page.content; let i = index;">
            <th scope="row">{{ user.id }}</th>
            <td><img [src]="user.url" width="42" height="42" class="rounded-circle" [alt]="user.name + ' \'s photo'">
            </td>
            <td>{{ user.name }}</td>
            <td><button style="width: 50px; height: 30px; color: white" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i>Edit</button></td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
            <a (click)="loadNextPreviousPage('backward', searchForm.value.name)" class="page-link"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;"
            class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
            <a (click)="loadSelectedPage(searchForm.value.name, i)" class="page-link">
              {{ i + 1 }}
            </a>
          </li>
          <li class="page-item pointer"
            [ngClass]="(state.appData.data.page.totalPages - 1) == (currentPage$ | async) ? ' disabled' : ''">
            <a (click)="loadNextPreviousPage('forward', searchForm.value.name)" class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </ng-container>
  </div>

  <!-- {{responseState | async | json}} -->
  <!-- <router-outlet></router-outlet> -->
</ng-container>